In [5]:
thissets = {"apple", "banana ", "cherry"}
print(thissets)

{'cherry', 'banana ', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry", True , 1, 2}
print(thisset)

{'banana', 'cherry', 2, True, 'apple'}

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {1,2,2,3,4,5,5}
set3 = {True, False}
print(type(set1))
print(type(set2))
print(type(set2))

<class 'set'>
<class 'set'>
<class 'set'>

In [11]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [12]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [14]:
thisset = {"apple", "banana", "cherry" }

for x in thisset:
    print(x)

banana
cherry
apple

In [15]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [16]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [17]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [18]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'banana', 'cherry', 'apple', 'pineapple', 'mango', 'papaya'}